@tailwind base;

* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

@tailwind components;

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

@tailwind utilities;